html {
  width: 100%;
  font-family: serif;
}

body {
  background: whitesmoke;
}

.logo {
  height: 150px;
  width: auto;
}

.d-flex {
  display: flex;
}

header {
  width: 100%;
  justify-content: space-between;
  border-bottom: slategray 1px solid;
  align-items: flex-end;
}

button {
  height: 46px;
  width: 145px;
  margin-bottom: 7px;
  background-color: whitesmoke;
  border: 1px slategray solid;
  border-radius: 2px;
  text-transform: uppercase;
}