html {
  width: 100%;
  font-family: serif;
}

:root {
  --accent-color: rgb(192, 139, 121);
}

body {
  background: whitesmoke;
  margin: 20px;
}

.logo {
  height: 150px;
  width: auto;
}

header {
  border-bottom: slategray 1px solid;
}

button {
  height: 46px;
  width: 145px;
  margin-bottom: 7px;
  background-color: whitesmoke;
  border: 1px var(--accent-color) solid;
  color: var(--accent-color);
  border-radius: 2px;
  text-transform: uppercase;
}
