@import '~js-datepicker/dist/datepicker.min.css';

html {
  width: 100%;
  font-family: serif;
}

:root {
  --accent-color: rgb(192, 139, 121);
  --main-color: whitesmoke;
  --real-white: white;
}

body {
  background: whitesmoke;
  margin: 20px;
}

.logo {
  height: 150px;
  width: auto;
}

header {
  border-bottom: slategray 1px solid;
}

.small-button {
  height: 37px;
  width: 100px;
  background-color: var(--real-white);
}

button {
  height: 46px;
  width: 145px;
  margin-bottom: 7px;
  background-color: whitesmoke;
  border: 1px var(--accent-color) solid;
  color: var(--accent-color);
  border-radius: 2px;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

input {
  height: 46px;
}

.form-check {
  width: 145px;
}

.wide-button {
  width: 200px;
}

.white-bkgd {
  background-color: var(--main-color);
}

.small-txt {
  font-size: small;
}